<div class='mainboard-header'>
    <h3>Tasks list</h3>
    <div class="form-group scope">
        <select class="form-control" id="sel1">
            <option selected>Today</option>
            <option>This Week</option>
            <option>This Month</option>
            <option>This Year</option>
        </select>
    </div>
</div>

<div class="table table-responsive-lg">
    <table class="table table-fixed">
        <thead>
            <tr>
                <th>title</th>
                <th>body</th>
                <th>deadline</th>
                <th>category name</th>
            </tr>
        </thead>
        <tbody>
            <% @tasks.each do |task| %>
                <tr data-link="<%= task_path(task) %>" class='mylink'>
                    <td scope="row" class='tasks-list-task-title'><%= task.title%></td>
                    <td class='tasks-list-task-body'><%= task.body%></td>
                    <td><%= task.deadline.strftime("%B %d, %Y")%></td>
                    <% c = @categories.to_a.map(&:serializable_hash) %>
                    <% c.each do |categ| %>
                        <% if (categ['id'] == task.category_id) %>
                            <td><%= categ['name']%></td>
                        <% end %>   
                    <% end %>
                </tr>
            <% end %>
        </tbody>
    </table>
    <br>
    <%= link_to "New Task", new_task_path %>
</div>

