<nav class="navbar navbar-expand-lg navbar-light flex-column">
    <br>
    <div class='logo-div'>
        <%= image_tag 'rocket.svg', size: "40x40" %>
        <%= link_to 'spaces', root_path, class:'navbar-brand'%>
    </div>
    

    <!--<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>-->

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        
        <ul class="navbar-nav mr-auto flex-column">
            <div class='greet-user-container'>
                <li class='greet-user'>Hello <%= current_user.username %>!</li>
                <li>Let's be productive today</li>
            </div>
            
            <li class="nav-item active mysidenav">
                <%= image_tag 'home.svg', size: "20x20" %>
                <%= link_to 'Home', root_path, class:'nav-link'%>
            </li>

            <li class="nav-item mysidenav">
                <%= image_tag 'calendar.svg', size: "20x20" %>
                <%= link_to 'Calendar', root_path, class:'nav-link disabled'%>
            </li>

            <li class="nav-item mysidenav">
                <%= image_tag 'projects.svg', size: "20x20" %>
                <%= link_to 'Projects', root_path, class:'nav-link disabled'%>
                <!--<div class='sidenav-counter'><div>99</div></div>-->
            </li>

            <li class="nav-item active mysidenav">
                <%= image_tag 'categories.svg', size: "20x20" %>
                <%= link_to 'Categories', categories_path, class:'nav-link'%>
                <div class='sidenav-counter'>
                    <div id='sidenav-categories-counter'><%= @categories.count %></div>
                </div>
            </li>

            <li class="nav-item active mysidenav">
                <%= image_tag 'tasks.svg', size: "20x20" %>
                <%= link_to 'Tasks', tasks_list_path, class:'nav-link'%>
                <div class='sidenav-counter'>
                    <div id='sidenav-tasks-counter'><%= @tasks.count %>
                    </div>
                </div>
            </li>

            <br><br><br><br>

            <li class="nav-item mysidenav">
                <%= image_tag 'settings.svg', size: "20x20" %>
                <%= link_to 'Settings', root_path, class:'nav-link disabled'%>
            </li>

            <li class="nav-item active mysidenav">
                <%= image_tag 'logout.svg', size: "20x20" %>
                <%= link_to 'Logout', destroy_user_session_path, method: :delete, class:'nav-link'%>
            </li>

        </ul>

    </div>
</nav>