<div class='mainboard-container'>
    <div class='mainboard'>
        <div class='mainboard-header'>
            <h3>Tasks</h3>
            <div class="form-group scope">
                <select class="form-control" id="sel1">
                    <option selected>Today</option>
                    <option>This Week</option>
                    <option>This Month</option>
                    <option>This Year</option>
                </select>
            </div>
        </div>
        <div class='status-container'>
            <div class='status' id='completed'>
                <div class='status-header'>
                    <h5>Completed</h5>
                    <div class='task-counter'><p><%= @tasks.where(status: "completed").count %></p></div>
                </div>
                <% @tasks.where(status: "completed").order("deadline ASC").each do |todo| %>
                    <div class='mytask draggable' draggable='true' id='<%= todo.id %>'>
                        <div class='mytask-title'>
                            <td><%= link_to todo.title, todo, class: 'mytask-title-title'%></td>
                            <span class='mytask-deadline'><%= todo.deadline.strftime("%B %d, %Y") %></span>
                        </div>
                        <div class='mytask-body'><%= todo.body.first(200) %></div>
                    </div>
                <% end %>
            </div>

            <div class='status' id='in_progress'>
                <div class='status-header'>
                    <h5>In Progress</h5>
                    <div class='task-counter'><p><%= @tasks.where(status: "in_progress").count %></p></div>
                </div>
                <% @tasks.where(status: "in_progress").order("deadline ASC").each do |todo| %>
                    <div class='mytask draggable' draggable='true' id='<%= todo.id %>'>
                        <div class='mytask-title'>
                            <td><%= link_to todo.title, todo, class: 'mytask-title-title'%></td>
                            <span class='mytask-deadline'><%= todo.deadline.strftime("%B %d, %Y") %></span>
                        </div>
                        <div class='mytask-body'><%= todo.body.first(200) %></div>
                    </div>
                <% end %>
            </div>

            <div class='status' id='unfinished'>
                <div class='status-header'>
                    <h5>To Do</h5>
                    <div class='task-counter'><p><%= @tasks.where(status: "unfinished").count %></p></div>
                </div>
                <%= link_to "+", new_task_path, type: :button, class: 'btn btn-primary add-task' %>
                <% @tasks.where(status: "unfinished").order("deadline ASC").each do |todo| %>
                    <div class='mytask draggable' draggable='true' id='<%= todo.id %>'>
                        <div class='mytask-title'>
                            <td><%= link_to todo.title, todo, class: 'mytask-title-title'%></td>
                            <span class='mytask-deadline'><%= todo.deadline.strftime("%B %d, %Y") %></span>
                            
                        </div>
                        <div class='mytask-body'><%= todo.body.first(200) %></div>
                    </div>
                <% end %>
            </div>
        </div>
        
    </div>

</div>

