<div class='mainboard-header'>
    <h3>Categories</h3>
</div>
<br>
<div class="table table-responsive-lg categories-table">
    <% @categories.each do |categ| %>
        <div class='category-div'>
            <div class='category-div-header'>
                <h4 data-link="<%= category_path(categ) %>" class='mylink'><%= categ.name %></h4>
                <div><span><%= categ.tasks.count %></span></div>
            </div>
            
            <ul class="list-group list-group-flush">
            <% categ.tasks.each do |task| %>
                <li data-link="<%= task_path(task) %>" class='mylink list-group-item'><%= task.title %></li>
            <% end %>
            <%= link_to "+", new_task_path, class: 'add-task-in-categ' %>
            </ul>
        </div>
    <% end %>
    
</div>
<br>
<div class='create-category'>
    <%= link_to "New Category", new_category_path %>
</div>





<!--this is probably not needed, redundant-->